body{
  background-color: #d8e3e7
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 6px;

}
img{
   height: 120px;
}
h1, h2, h3{
  color: #5aa897;
}
table{
  font-size: 15px;
}
